<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png"> 
        <link rel='stylesheet' href='/css/styles.css'>
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <p>This site was created by Salah Hobbi. It uses data from mbox.com and darksky.net sites!!</p>
            <img class='portait' src="/img/img_0951.jpg"/>
        </div>
        {{>footer}}
    </body>
</html>